<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <script>
        $(window).off('.affix');
        $(document).ready(function() {
            $("#mysidebar").removeClass("affix affix-top affix-bottom").removeData("bs.affix");
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(function () {
            $('figure a').fluidbox();
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#search-query').keydown(function(e) {
                if (e.keyCode == 13) { // enter
                    var href = $("#results-container .selected a").attr('href');
                    if(href){
                        window.location.href = href;
                    }
                }
                if (e.keyCode === 27) { //esc
                    $('#search-query').val('');
                }
                if (e.keyCode == 38) { // up
                    var selected = $(".selected");
                    $("#results-container li").removeClass("selected");
                    if (selected.prev().length == 0 || !selected.prev().is("li")) {
                        $("#results-container li").last().addClass("selected");
                    } else {
                        selected.prev().addClass("selected");
                    }
                }
                if (e.keyCode == 40) { // down
                    var selected = $(".selected");
                    $("#results-container li").removeClass("selected");
                    if (selected.next().length == 0) {
                        $("#results-container li").first().addClass("selected");
                    } else {
                        selected.next().addClass("selected");
                    }
                }
            });
        });
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}

</head>
<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container-fluid">
  <div id="main">
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3" id="tg-sb-sidebar">
            {% include sidebar.html %}
        </div>

        <!-- Content Column -->
        <div class="col-md-9" id="tg-sb-content">
            {{content}}
        </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</div>
<!-- /#main -->
    </div>

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
